In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Date (Дата)        
Описание: Дата в формате dd/mm/yyyy.**

**Time (Время)        
Описание: Время в формате hh:mm:ss.**

**Global Active Power (Глобальная активная мощность)        
Описание: Среднеминутная активная мощность дома (в киловаттах).**

**Global Reactive Power (Глобальная реактивная мощность)        
Описание: Среднеминутная реактивная мощность дома (в киловаттах).**

**Voltage (Напряжение)        
Описание: Среднеминутное напряжение (в вольтах).**

**Global Intensity (Глобальная интенсивность)        
Описание: Среднеминутная интенсивность тока в доме (в амперах).**

**Sub Metering 1 (Энергопотребление субсчетчика 1)        
Описание: Потребление активной энергии субсчетчика № 1 (в ватт-часах). Соответствует кухне, включающей в себя посудомоечную машину, духовку и микроволновую печь.**

**Sub Metering 2 (Энергопотребление субсчетчика 2)        
Описание: Потребление активной энергии субсчетчика № 2 (в ватт-часах). Соответствует прачечной, содержащей стиральную машину, сушильную машину, холодильник и освещение.**

**Sub Metering 3 (Энергопотребление субсчетчика 3)        
Описание: Потребление активной энергии субсчетчика № 3 (в ватт-часах). Соответствует электрическому водонагревателю и кондиционеру.**

In [4]:
data = pd.read_csv('household_power_consumption.txt', delimiter=';',na_values='?', dtype={'Global_active_power': float, 'Global_reactive_power': float, 'Voltage': float, 'Global_intensity': float, 'Sub_metering_1': float, 'Sub_metering_2': float, 'Sub_metering_3': float})

In [5]:
data

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0